/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #dddddd; }

.nav {
  background-color: #3c3c3d; }
  .nav .logo {
    height: 60px;
    margin: 0 auto; }
  .nav .icons {
    letter-spacing: 10px;
    text-align: center;
    font-size: 36px; }
    .nav .icons i {
      color: #dddbdb; }

.maintext {
  margin: 0 auto;
  min-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background-homepage.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  max-height: 200vh;
  text-align: center;
  color: #dddbdb;
  padding-bottom: 3%; }
  .maintext h1 {
    font-size: 500%;
    padding-top: 12%; }
  .maintext .separator {
    width: 50%;
    height: 1px;
    color: #cdddf7;
    background-color: #cdddf7;
    border: none; }
  .maintext p {
    word-wrap: break-word;
    word-break: break-all; }

.page-2 {
  min-height: 35vh;
  max-height: 200vh;
  padding-top: 3%;
  padding-bottom: 3%; }
  .page-2 .citation {
    font-style: italic;
    color: #9E9E9E; }

.page-3 {
  min-height: 30vh;
  max-height: 200vh;
  padding-bottom: 20px;
  background-color: #d1d1d1; }
  @media (max-width: 728px) {
    .page-3 .btn {
      float: right; } }
  .page-3 .btn {
    background-color: #3c3c3d;
    color: #e0e0e0; }
  .page-3 .btn:hover {
    color: white; }

.page-4 {
  height: 75vh;
  max-height: 200vh;
  text-align: center;
  padding-top: 8%; }
  .page-4 p {
    margin-bottom: 45px;
    font-weight: bold; }
  .page-4 img {
    margin: 0 auto;
    height: 160px;
    width: 160px;
    border: 1px solid black;
    background: black;
    -webkit-box-shadow: 6px 10px 80px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 10px 80px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 10px 80px 0px rgba(0, 0, 0, 0.5); }
  .page-4 img:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%); }

.footer {
  background-color: #3c3c3d;
  height: 8vh;
  max-height: 20vh;
  text-align: center; }
  .footer p {
    color: white;
    padding-top: 3vh; }

/*# sourceMappingURL=main.css.map */
