@import "reset";
@import "variables";
body{
  background-color: $bodyBgColor;
}
.nav{
  background-color: $navBgColor;
  .logo{
    height: 60px;
    margin: 0 auto;
  }
  .icons{
    letter-spacing: 10px;
    text-align: center;
    font-size: 36px;
    i{
      color:$iconsColor;
    }
  }
}
.maintext{
  margin: 0 auto;
  min-width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), $bgImage no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  text-align: center;
  color: $textColorWhite;
  h1{
    font-size: 500%;
    padding-top: 12%;
    // text-shadow: 2px 2px 10px rgba(104, 104, 104, 1);
  }
  .separator{
    width: 50%;
    height: 1px;
    color: $hrColor;
    background-color: $hrColor;
    border: none;
  }
}
.page-2{
  height: 55vh;
  padding-top: 3%;
  .citation{
    font-style: italic;
    color: #9E9E9E;
  }
}
.page-3{
  height: 60vh;
  background-color: #d1d1d1;
  .btn{
    background-color: $navBgColor;
    color: #e0e0e0;
  }
  .btn:hover{
    color: lighten(#e0e0e0, 70%);
  }
}
