@import "reset";
body{
  background-color: #dddddd;
}
.nav{
  background-color: #3c3c3d !important;
  .logo{
    height: 60px;
    margin: 0 auto;
  }
  .icons{
    letter-spacing: 10px;
    text-align: center;
    font-size: 36px;
    i{
      color:#dddbdb;
    }
  }
}
.maintext{
  margin: 0 auto;
  min-width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/background-homepage.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  h1{
    text-align: center;
    font-size: 500%;
    padding-top: 12%;
    // position: relative;
    // top: 35%;
    // transform: translateY(-90%);
  }
  .separator{
    width: 50%;
    color: silver;
  }
}
.page-2{
  height: 65vh;
}
