$bodyBgColor: #dddddd;
$navBgColor: #3c3c3d;
$iconsColor: #dddbdb;
$hrColor: #cdddf7;
$bgImage: url(../img/background-homepage.jpeg);
$textColorWhite: #dddbdb;
$page3Bg: url(../img/kid-laptop.png);
$crab: url(../img/pan-krab.jpg);
